@import '../../../assets/bootstrap/bootstrap.css';
@import '../../../assets/bootstrap/bootstrap.min.css';
@import '../../../assets/bootstrap/bootstrap-theme.css';
@import '../../../assets/bootstrap/bootstrap-theme.min.css';

$passed: #46f73f;
$passed-card: #225a16;
$failed: #ff0000;
$failed-card: #741414;
$warning: #ffd600;
$warning-card: #947e0c;
$inapplicable: white;
$inapplicable-card: #595959;
$orange-deep: #F4511E;

.column {
  flex-direction: column;
  -webkit-box-orient: vertical;
}
.row {
  flex-direction: row;
  -webkit-box-orient: horizontal;
}

*[class*=' flex-'], *[class^='flex-']{
  flex: 1 1 100%;
  box-sizing: border-box;
  -webkit-box-flex: 1;
}

@mixin define-flex($value) {
  .row .flex-#{$value} {
    max-width: $value * 1%;
  }
  .column .flex-#{$value} {
    max-height: $value * 1%;
  }
}
@include define-flex(5);
@include define-flex(25);
@include define-flex(30);
@include define-flex(50);
@include define-flex(80);
@include define-flex(95);
@include define-flex(100);

.start.center{
  place-content: center flex-start;
  align-items: center
}
.center.center2 {
  place-content: center center;
  align-items: center
}


#evaluation-content {
  padding-bottom: 5vh;
}

.screenreader {
  position: absolute;
  left: -10000px !important;
}

section {
  width: 100%;
}

.passed {
  &.mat-card {
    background-color: $passed-card;
  }

  &.mat-icon {
    color: $passed;
  }

  .final-outcome {
    color: $passed;
  }

  .eyeicon {
    color: $inapplicable;
  }

  &__checkbox.mat-checkbox-checked {
    ::ng-deep .mat-checkbox-background {
      background-color: $passed !important;
    }
  }
}

.failed {
  &.mat-card {
    background-color: $failed-card;
  }

  &.mat-icon {
    color: $failed;
  }

  .final-outcome {
    color: #ff3535;
  }

  .eyeicon {
    color: $inapplicable;
  }

  &__checkbox.mat-checkbox-checked {
    ::ng-deep .mat-checkbox-background {
      background-color: $failed !important;
    }
  }
}

.warning {
  &.mat-card {
    background-color: $warning-card;
  }

  &.mat-icon {
    color: $warning;
  }

  .final-outcome {
    color: $warning;
  }

  .eyeicon {
    color: $inapplicable;
  }

  &__checkbox.mat-checkbox-checked {
    ::ng-deep .mat-checkbox-background {
      background-color: $warning !important;
    }
  }
}

.inapplicable {
  &.mat-card {
    background-color: $inapplicable-card;
  }

  &.mat-icon {
    color: $inapplicable;
  }

  .final-outcome {
    color: $inapplicable;
  }

  .eyeicon {
    color: $inapplicable;
  }

  &__checkbox.mat-checkbox-checked {
    ::ng-deep .mat-checkbox-background {
      background-color: $inapplicable !important;
    }
  }
}

.hidden_link {
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}

.hidden_link:hover {
  text-decoration: underline;
  text-decoration-color: $orange-deep;
}

h1 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 180%;

  a {
    margin-left: -30px;
    display: inline-block;
    vertical-align: middle;
  }
}

/// SUMMARY ///

.url {
  font-family: 'Raleway', sans-serif;
}

.summary_info {
  text-align: center;
}

.summary_icons {
  font-size: 1.75em;
}

/// FILTERS ///

.buttons {
  padding: 0 8px;
  line-height: 40px;

  .filter_button & {
    font-size: 19px;
  }

  .span {
    text-align: left;
  }
}

/*
.dropdown-menu {
  text-align: left;
  background-color: unset !important;
  padding: 10px 0;
  margin-top: 0;
  border-top-width: 0;
  border-color: #494949;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  line-height: 30px;

  mat-checkbox {
    padding-left: 0.8em;
    font-size: 16px;
  }
} */

.open > button {
  border-radius: 4px 4px 0 0;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-size: 2vmin;
}

.filter {
  background-color: #393939;
  padding: 1em;

  &.border {
    border-right: 2px solid white;
  }

  &.bottom-border {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom: 2px solid white;
  }

  h2 {
    text-align: center;
    margin: 0 0 0.5em 0;
    font-size: 2.5vmin;

    .mobile {
      font-size: 1.2em;
    }
  }

  &.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media screen and (max-width: 599px) {
  .filter {
    h2 {
      font-size: 1.2em;
    }
  }

  ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    font-size: 3.3vmin;
  }
}

/// RESULTS ///

.rule_table {
  width: 100%;
  text-align: left;
  border-spacing: 0;

  tbody {
    vertical-align: baseline;
  }

  td {
    width: 50%;
    padding: 0;
    font-size: larger;
    line-height: 25px;
  }

  th {
    padding: 0;
  }

  p, ul {
    margin: 0.5em 1em 0.5em 0
  }

  ul {
    padding-left: 18px;
  }

  h2 {
    margin: 0.1em 0 0.1em 0;
    font-weight: 600;
  }
}

.rule_title {
  margin: 0 0 0 0.3em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.around_title {
  max-height: 55px;
  margin-right: 16px;
}

.rule_subtitle {
  .rule_description &,
  .rule_type & {
    margin: 0.2em 0 0.5em 0;
  }

  .rule_criteria &,
  .rule_filters &,
  .rule_results & {
    margin: 1em 0 0.5em 0;
  }
}

.rule_description,
.rule_type,
.rule_criteria,
.rule_filters,
.rule_results {
  text-align: left;
  border-spacing: 0;
  vertical-align: baseline;
  font-size: medium;

  p {
    margin: 0 1em 0.5em 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  li {
    padding-bottom: 0.5em;
  }

  h3 {
    font-weight: 200;
    text-transform: none;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
  }
}

.rule_description {
  .links {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
  }
}

.rule_results {
  h3 {
    font-size: larger;

    /*&:not(:first-of-type) {
      margin-top: 0;
    }*/

    span {
      &.passed {
        text-decoration: underline;
        text-decoration-color: $passed;
      }

      &.failed {
        text-decoration: underline;
        text-decoration-color: $failed;
      }

      &.warning {
        text-decoration: underline;
        text-decoration-color: $warning;
      }

      &.inapplicable {
        text-decoration: underline;
        text-decoration-color: $inapplicable;
      }
    }
  }
}

.rule_type {
  h3 {
    margin-top: 0;
  }
}

// para melhorar o espaço entre linhas entre o success criteria e a descricao
@media screen and (max-width: 960px) {
  .mobile {
    &.rule_subtitle {
      margin: 1em 0 0.5em 0 !important;
    }
  }
}

.results_box {
  max-height: 20em;
  overflow-y: auto;
  border: 2px solid white;
  padding: 1em;
  .line_breaker:first-child {
    margin-top: 0;
  }
}

.mat-checkbox {
  font-size: 1.1em;
}

.mat-checkbox-layout .mat-checkbox-label {
  font-size: 2vmin !important;
}

.mat-card-title {
  margin-bottom: 0 !important;

  &.with-code {
    margin-top: 0.5em;
  }
}

.mat-card-content,
.mat-card-footer {
  padding: 0 1em;
}

.mat-card-footer {
  border-radius: 3px;
}

.combo_breaker {
  margin: 30px 0 5px;
  max-width: 50px;
  border: 1.5px solid $orange-deep;
  text-align: left;
}

.line_breaker {
  margin-top: 1em;
}

img {
  width: 25vw;
  outline: none;
  min-width: 250px;
  margin-top: 3%;
}

mat-expansion-panel {
  margin-left: 0;
  background: #393939 !important;
  width: 79.5vw;

  mat-expansion-panel-header {
    .material-icons {
      line-height: 1.5em;
    }
  }

  &.sticky {
    overflow: inherit !important;

    mat-expansion-panel-header {
      top: 0;
      position: sticky;
      z-index: 10;
      background-color: #393939;
    }
  }
}

pre {
  margin-top: 1em !important;
}

/*.filler {
  height: 2%;
  bottom: -2%;
  position: relative;
  background-color: #303030;
  z-index: 10;
  left: -2%;
  width: 100vw;
} */

:not(mat-spinner){
  transition: none;
}
