.input_url {
  padding: 0 !important;
  margin: 0;
  color: whitesmoke;

  input {
    border: none;
    padding: 1em;
    background-color: transparent;
    color: whitesmoke;
    font-size: 1.2em;
    outline: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  mat-icon {
    cursor: pointer;
  }

  .info {
    color: #78ade6;
  }

  .error {
    color: red;
  }
}

.info-tooltip {
  font-size: 1em;
  color: whitesmoke;
  background-color: #1c5d95;
}

.error-tooltip {
  font-size: 1em;
  color: whitesmoke;
  background-color: red;
}
