<div fxLayout="column" fxLayoutAlign="center center">
  <img src="/assets/images/logo2.png" alt="Qualweb logo"/>
</div>
<div class="main" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="85">
    <p>{{ 'ABOUT_PAGE.1' | translate }}</p>
    <p>{{ 'ABOUT_PAGE.2' | translate }}<a
      href="https://www.w3.org/WAI/WCAG21/Techniques/" target="_blank">{{ 'ABOUT_PAGE.wcag' | translate }}</a>{{ 'ABOUT_PAGE.and' | translate }}
      <a href="https://act-rules.github.io/pages/about" target="_blank">{{ 'ABOUT_PAGE.act' | translate }}</a>.</p>
    <p>{{ 'ABOUT_PAGE.3' | translate }}</p>
    <p>{{ 'ABOUT_PAGE.4' | translate }}<a
      href="https://github.com/qualweb" target="_blank">https://github.com/qualweb</a>. {{ 'ABOUT_PAGE.5' | translate }}<a
      href="https://github.com/qualweb/cli" target="_blank">{{ 'ABOUT_PAGE.cli' | translate }}</a>.
    </p>
    <p>{{ 'ABOUT_PAGE.projects' | translate }}</p>
    <ul>
      <li><a href="https://www.w3.org/WAI/Tools/" target="_blank">WAI-Tools</a> (EU H2020)</li>
      <li><a
        href="https://www.fct.pt/apoios/projectos/consulta/vglobal_projecto?idProjecto=105079&idElemConcurso=2769" target="_blank">QualWeb</a>
        (FCT)
      </li>
      <li><a href="http://www.accessible-eu.org/" target="_blank">ACCESSIBLE</a> (EU FP7)</li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
