<div class="main" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
  <div>
    <img src="assets/images/logo2.png" alt="Qualweb logo"/>
  </div>
  <div fxFlex="50" fxFlex.lt-md="80" class="text">
    <hr class="combo_breaker">
    <h1 class="oops">Oops!</h1>
    <h2 class="something">Something went wrong...</h2>
    <p>Please verify the availability of the page you requested, your internet connection or just try again later!</p>
    <div class="homepage">
      <a routerLink="/">Return to homepage</a>
    </div>
  </div>
</div>
